main{
    font-family: "Open Sans";
    
}

.form{
    vertical-align: middle;
}

.form-content {
    padding: 30px;
    text-align: center;
    max-width: 1000px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.579);
    border-radius: 20px;
    padding-bottom: 5px;
}

.form-content img{
    width: 20px; 
    height: 20px;
    margin: 10px;
    cursor: pointer;
}

.form-content .inicio {
    justify-content:space-around;
    display: flex;
}
.form-content .exit-icon{
    width: 25px;
    height: 25px;
    
}

.form-content h2 {
    font-size: 23px;
    color: #7A4A4C;
    font-weight: bolder;
    max-width: 800px;
    text-align: center;
}

.form-content p {
    color: gray;
    margin-left: 40px;
    text-align: left;
}



/* Progreso de pasos */
.step-progress {
    display: flex;
    justify-content: center;
    gap: 7px;
    margin: 15px auto 15px auto;
    
}

.step {
    display: flex;
    width: 30px;
    height: 30px;
    border: 3px solid #7A4A4C;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #7A4A4C;
    cursor: pointer;
}


.step.active {
    background-color: #7A4A4C;
    color: white;
}

/*Etapas del formulario*/
.step-section {
    background-color: #f7f3f3ac;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 450px;
    vertical-align: middle;
}

.step-section h3 {
    font-size: 20px;
    font-weight: bolder;
    color: #a13c64;
    margin-bottom: 20px;
}


/* Grupos de formulario */
.form-group {
    display:flex;
    margin-bottom: 25px;
}

.form-group label {
    flex-shrink: none;
    flex-basis: 40%;
    text-align: left;
    color: black;
    font-weight: bold;
    margin-right: 50px;
}


.form-group input {
    padding: 8px;
    border: 2px solid #a13c64;
    border-radius: 10px;
    width: 500px;
}

.form-group .error{
    text-align: left;
}

.form-group .fecha{
    width: 175px;
}

.form-group .fin{
    text-align: left;
}



/* Estilos para los radio buttons */
.form-group input[type="radio"] {
    margin-right: 5px;
    display: none;
}

.form-group label[for="publico"],
.form-group label[for="privado"],
.form-group label[for="autopista"],
.form-group label[for="libre"],
.form-group label[for="gratuitas"],
.form-group label[for="paga"],
.form-group label[for="ambas"] {
    font-size: 15px;
    color: grey;
    margin-right: 10px;
    cursor: pointer;
    padding: 10px 20px;
    border: 2px solid #7A4A4C;
    border-radius: 30px;
    transition: background-color 0.3s, color 0.3s;
    align-content: center;
    text-align: center;
    max-width: 200px;
}

.form-group input[type="radio"]:checked + label {
    background-color: #a13c64;
    color: white;
}

/* Estilos para el deslizador*/
.form-group input[type="range"] {
    width: 60%;
    appearance: none;
    height: 8px;
    background: #ddd;
    outline: none;
    opacity: 0.9;
    transition: opacity .2s;
    border-radius: 10px;
}

.form-group input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    background: #a13c64;
    cursor: pointer;
    border-radius: 50%;
}

.form-group input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #7A4A4C;
    cursor: pointer;
    border-radius: 50%;
}


.step-section .valor{
    color: #a13c64;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 10px;

}

.range-labels {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 450px;
    font-weight: bold;
    color: #a13c64;
    font-size: 14px;
    text-align: right;
    margin-left: auto;
    margin-right: 30px;
}




/*checkbox*/
.options {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px; 
}


.options input[type="checkbox"] {
    width: auto; 
}

.options label {
    display: flex;
    gap: 15px;
    color:gray; 
}

select {
    padding: 8px;
    margin-left: 0px;
    border: 2px solid #a13c64;
    border-radius: 10px;
    width: 500px;
}


/* Botones */
button{
    font-family:"Poppins", sans-serif;
}

.btn-location, .btn-add, .btn-destination {
    background-color: #f8b9c9;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    margin-right: 10px;
    color: #7A4A4C;
    font-weight: bold;
}

.navigation-buttons {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

/*Botones*/
.btn-prev, .btn-next, .btn-guardar, .btn-save {
    padding: 8px 16px;
    border-radius: 10px;
    font-weight: bold;
    border-color: white;
}

.btn-prev {
    background-color: grey;
    color: white;
}

.btn-next {
    background-color: #7A4A4C;
    color: white;
}

.btn-save {
    background-color: #7A4A4C;
    color: white;
}

.btn-guardar {
    margin-right: 450px;
    background-color: #a13c64;
    color: white;
}

.btn-menos{
    margin: 10px 10px;
    color: #7a4a4c;
    background-color:  #f8b9c9 ;
    border-radius: 10px;
    border-color: #8e447d;
    font-weight: bold;
    padding: auto;
    width: 80px;
}

.btn-menos:hover{
    color: #7a4a4c;
    background-color:  white ;
    border-color: #8e447d;
}



.hidden{
    display: none;
}


/*SECCION ACTIVIDADES*/
.indicaciones{
    font-weight: bold;
}

.actividades {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    width: 100%;
    margin-bottom: 10px;
}


.activity-card {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.activity-card img {
    width: 100%;
    max-width: 180px; 
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    margin-bottom: 10px;
}

.activity-card h3 {
    font-size: 17px;
    color: #8e447d;
    margin: 10px 0 5px 0; 
    font-weight: bold;
}

.activity-card p {
    font-size: 15px;
    color: #666;
    margin:0;
    text-align: center;
    font-weight: bold;
}

/* mensajes de error */
.just-validate-error-label { 
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
}




/*RESPONSIVIDAD*/
@media (max-width: 768px) {
    .form-content {
        padding: 20px;
        width: 90%;
        font-size: 14px;
    }

    .form-content h2 {
        font-size: 18px;
    }

    .step-progress {
        gap: 5px;
    }

    .step {
        width: 25px;
        height: 25px;
        font-size: 14px;
    }

    .step-section {
        padding: 20px;
    }

    /* Formulario */
    .form-group label {
        flex-basis: 100%;
        margin-right: 0;
        text-align: left;
    }

    .form-group input, select {
        width: 100%;
        margin-top: 5px;
    }

    

    /* iconos */
    .form-content img {
        width: 18px;
        height: 18px;
    }

    /* Botones */
    .navigation-buttons {
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        justify-content: center;
        font-size: 13px;
    }

    .btn-guardar {
        flex: 1; 
        max-width: fit-content;
        margin-right: 200px; 
    }

    .btn-prev, .btn-next {
        flex: none; 
    }

    /* Opciones de checkbox y radio */
    .options {
        grid-template-columns: 1fr;
    }

    .form-group label[for="publico"],
    .form-group label[for="privado"],
    .form-group label[for="autopista"],
    .form-group label[for="libre"],
    .form-group label[for="gratuitas"],
    .form-group label[for="paga"],
    .form-group label[for="ambas"] {
        font-size: 12px;
        max-width: 150px;
    }
    .options {
        grid-template-columns: 1fr 1fr;
    }
    
    .options label {
        display: flex;
        gap: 10px;
        color:gray; 
        font-size: 13px;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .form-content {
        padding: 20px;
        width: 90%;
        font-size: 14px;
    }

    .form-content h2 {
        font-size: 18px;
    }

    .step-progress {
        gap: 5px;
    }

    .step {
        width: 25px;
        height: 25px;
        font-size: 14px;
    }

    .step-section {
        padding: 20px;
    }

    /* Formulario */
    .form-group label {
        flex-basis: 100%;
        margin-right: 0;
        text-align: left;
    }

    .form-group input, select {
        width: 100%;
        margin-top: 5px;
    }

    

    /* iconos */
    .form-content img {
        width: 18px;
        height: 18px;
    }

    /* Botones */
    .navigation-buttons {
        display: flex;
        margin-top: 20px;
        font-family: "Poppins", sans-serif;
        margin-bottom: 20px;
        justify-content: center;
        font-size: 13px;
    }

    .btn-guardar {
        flex: 1; 
        max-width: fit-content;
        margin-right: 200px; 
    }

    .btn-prev, .btn-next {
        flex: none; 
    }

    /* Opciones de checkbox y radio */
    .options {
        grid-template-columns: 1fr;
    }

    .form-group label[for="publico"],
    .form-group label[for="privado"],
    .form-group label[for="autopista"],
    .form-group label[for="libre"],
    .form-group label[for="gratuitas"],
    .form-group label[for="paga"],
    .form-group label[for="ambas"] {
        font-size: 12px;
        max-width: 150px;
    }
    .options {
        grid-template-columns: 1fr 1fr;
    }
    
    .options label {
        display: flex;
        gap: 10px;
        color:gray; 
        font-size: 13px;
    }
}

#destinos-container{
    display: flex;
    flex-direction: column;
    gap: 8px; /* Espacio entre los campos */
    max-width: 100%;
}



@media (max-width: 1200px) {
    .fechas {
        column-gap: 5.5rem;
    }
}

@media (max-width: 992px) {
    .fechas {
        column-gap: 5rem;
    }
}

@media (max-width: 768px) {
    .fechas {
        column-gap: 4.5rem;
    }
}

@media (max-width: 576px) {
    .fechas {
        column-gap: 4rem;
    }
}

.fechax{
    text-align: left;
}

