body {
    background: linear-gradient(to bottom, #BD6085, #D196A3, #ffffffff);
    min-height: 100vh; /* Hace que el fondo ocupe al menos la altura completa de la pantalla */
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Centra el contenido en toda la altura de la pantalla */
}

.fondo {
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
}

.sombra {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
}

label {
    font-weight: bold;
    color: #BD6085;
    margin-bottom: 1rem;
}

.btn-secondary{
    background-color: #797979;
}
.btn-secondary:hover{
    background-color: #B3B2B3;
}

.btn-primary{
    background-color:#BD6085;
    border: #BD6085;
}
.btn-primary:hover{
    background-color:#A13C64;
}

input{
    border-width: 0.1rem;
    border-color:gray;
}

.regresar{
    position: absolute;
    top: 35px; /* Ajusta esta posición según sea necesario */
    left: 35px; /* Ajusta esta posición según sea necesario */
    z-index: 1000;
}

.regresarBtn{
    display:inline-block;
    text-decoration: none;
    color:#A13C64;
    font-size: 3rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.regresarBtn:hover{
    color: #BD6085;
    transform: scale(1.1);
}

.toggle-password {
    position: absolute;
    top: 70%;
    right: 1rem;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6c757d;
}